<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-sm-3">
<h1>Hi </h1>


</div>
</div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4"> <button  type="button" class="btn btn-primary btn-lg center-block ">Check list</button></div>
        <div class="col-xs-6 col-md-4"> <button  routerLink="/status_page" type="button" class="btn btn-secondary btn-lg center-block">Status</button></div>
        <div class="col-xs-6 col-md-4"> <button  type="button" class="btn btn-primary btn-lg center-block ">Promjeni lozinku</button></div>
    </div>
  
</div>
