<div class=".admin">
    
    <div class="jumbotron text-center">
        <h1>Maintenance System</h1>
        <p>Fun Park Biograd</p> 
      </div>

  <div class="container">
    <div class="btn-group-vertical center-block">
        <div class="btn btn-primary"> <button routerLink="/register" type="button" class="btn btn-primary btn-lg  ">Registracija korisnika</button></div>
        <div class="btn btn-primary"> <button routerLink="/check_user" type="button" class="btn btn-primary btn-lg ">Pregled korisnika</button></div>
        <div class="btn btn-primary"> <button routerLink="/check_machine" routerLinkActive="active" type="button" class="btn btn-primary btn-lg  ">Unos sprave</button></div>
        <div class="btn btn-primary"> <button routerLink="/check_page" routerLinkActive="active" type="button" class="btn btn-primary btn-lg  ">Unos liste za pregled</button></div>
        <div class="btn btn-primary"> <button  routerLink="/status_page" type="button" class="btn btn-primary btn-lg ">Status</button></div>

    </div>
  
</div>
   
</div>


